.ui.vertical.inverted.center.aligned.segment {
  /*background: url('../images/background4.jpg') no-repeat center center fixed;*/
  background: url('../images/background4.jpg') no-repeat center center;
  background-size: cover;
  /*
  background-attachment: fixed;
  */
  min-height: 100vh;
}



