<template name="User_Header">
  <div class="ui top fixed borderless inverted dark gray menu">
    <div class="ui container">
      <div class="item"><h1>UH Stego</h1></div>
      <a class="{{isActiveRoute "Profile_Page"}} item" href="{{pathFor "Profile_Page" username=routeUserName}}">Profile</a>
      <a class="{{isActiveRoute "Filter_Page"}} item" href="{{pathFor "Filter_Page" username=routeUserName}}">Find User</a>
      <a class="{{isActiveRoute "Encrypt_Page"}} item" href="{{pathFor "Encrypt_Page" username=routeUserName}}">Encrypt</a>
      <a class="{{isActiveRoute "Decrypt_Page"}} item" href="{{pathFor "Decrypt_Page" username=routeUserName}}">Decrypt</a>
      <div class="right aligned item">{{> Cas_Login }}</div>
    </div>
  </div>
</template>